@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
  h1 {
    @apply text-4xl antialiased font-bold text-gray-800;
  }
  h2 {
    @apply text-3xl font-bold text-gray-800;
  }
  h3 {
    @apply text-2xl font-semibold text-gray-800;
  }
  svg {
    @apply inline align-baseline;
  }
}

/* HTML */
nav .viafoura,
nav .viafoura .vf-tray-trigger:hover,
nav .viafoura .vf-tray-trigger:focus {
  color: white !important;
  background-color: transparent;
}

/* Identifiers */
#vf-content-recirculation-container {
  min-height: 338.84px !important;
}
#vf-conversation-starter-container {
  min-height: 275.19px !important;
}
#vf-conversations-container {
  min-height: 800px !important;
}

/* Classes */
.viafoura {
  --reserved-space-top: 62px !important;
}
.vf-trending-articles__header {
  @apply text-lg font-bold pb-2 capitalize !important;
}
.vf-expanding-hover-light::before {
  border-width: 0 0 3px 0 !important;
}
.vf-account-nav-illustration {
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.vf-share-bar.vf-share-bar-horizontal {
  margin: -20px 0 20px -10px !important;
}
.vf-share-bar-vertical {
  position: absolute !important;
  left: -45px !important;
}
.vf-share-bar-vertical ul {
  position: fixed !important;
}
.vf-topic-follow-button {
  border-color: #ccc !important;
  background-color: #fafafa !important;
  color: #181818 !important;
  font-size: 12px !important;
  min-width: 75px !important;
  height: 32px !important;
}
.vf-topic-unfollow-button {
  font-size: 12px !important;
  min-width: 100px !important;
  height: 32px !important;
  line-height: -1px !important;
}
