@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
  h1 {
    @apply text-gray-800 text-4xl font-bold antialiased;
  }
  h2 {
    @apply text-gray-800 text-3xl font-bold;
  }
  h3 {
    @apply text-gray-800 text-2xl font-semibold;
  }
  svg {
    @apply inline align-baseline; 
  }
}

nav .viafoura,
nav .viafoura .vf-tray-trigger:hover,
nav .viafoura .vf-tray-trigger:focus {
  color: white !important;
  background-color: transparent;
}
.viafoura {
  --reserved-space-top: 62px !important;
}
.viafoura .vf-trending-articles .vf-content__icon {
  margin-top: 5px !important;
}
.viafoura .vf-expanding-hover-light::before {
  border-width: 0 0 3px 0 !important;
}
.viafoura .vf-account-nav-illustration {
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.vf-topic-follow-button {
  font-size: 10px !important;
  padding: 2px !important;
  min-width: 65px !important;
  line-height: normal !important;
  border-color: #0284c7 !important;
  color: #0284c7 !important;
}
.vf-topic-unfollow-button {
  font-size: 10px !important;
  padding: 2px !important;
  min-width: 85px !important;
  line-height: normal !important;
}
#vf-conversations::before {
  content: "";
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}
.prose .viafoura ul,
.prose .viafoura ol > li {
  padding: 0;
  margin: 0;
}
.prose .viafoura ul > li::before,
.prose .viafoura ol > li::before {
  display: none;
}
.prose .viafoura img {
  margin: 0;
}

.vf-share-bar-vertical {
  position: absolute !important;
  left: -45px !important;
}

.vf-share-bar-vertical ul {
  position: fixed !important;
}
