@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
  h1 {
    @apply text-4xl antialiased font-bold text-gray-800;
  }
  h2 {
    @apply text-3xl font-bold text-gray-800;
  }
  h3 {
    @apply text-2xl font-semibold text-gray-800;
  }
  svg {
    @apply inline align-baseline;
  }
}

/* HTML */
nav .viafoura,
nav .viafoura .vf-tray-trigger:hover,
nav .viafoura .vf-tray-trigger:focus {
  color: white !important;
  background-color: transparent;
}

/* Identifiers */
#vf-content-recirculation-container {
  min-height: 338.84px !important;
}
#vf-conversation-starter-container {
  min-height: 275.19px !important;
}
#vf-conversations-container {
  min-height: 800px !important;
}
#vf-btn-topics .vf-topic-follow-button {
  border-color: #ccc !important;
  background-color: #fafafa !important;
  color: #181818 !important;
  min-width: auto !important;
  padding: 8px 12px 8px 12px !important;
  font-size: 12px !important;
}
#vf-btn-topics .vf-topic-unfollow-button {
  font-size: 12px !important;
  min-width: auto !important;
  padding: 8px 12px 8px 12px !important;
}

/* Classes */
.viafoura {
  --reserved-space-top: 62px !important;
}
.vf-tray-trigger-widget .vf-tray-trigger {
  border-radius: 30px !important;
  @apply bg-neutral-600 hover:bg-neutral-700 !important;
}
.viafoura .vf-trending-articles .vf-content__icon {
  margin-top: 5px !important;
}
.viafoura .vf-trending-articles__header {
  @apply text-lg font-bold pb-2 capitalize !important;
}
.viafoura .vf-expanding-hover-light::before {
  border-width: 0 0 3px 0 !important;
}
.viafoura .vf-account-nav-illustration {
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.vf-topic-follow-button {
  font-size: 10px !important;
  padding: 4px 2px !important;
  min-width: 65px !important;
  line-height: normal !important;
  border-color: #0284c7 !important;
  color: #0284c7 !important;
}
.vf-topic-unfollow-button {
  font-size: 10px !important;
  padding: 2px !important;
  min-width: 85px !important;
  line-height: normal !important;
}
.vf-share-bar.vf-share-bar-horizontal {
  margin: -20px 0 20px -10px !important;
}
.vf-share-bar-vertical {
  position: absolute !important;
  left: -45px !important;
}
.vf-share-bar-vertical ul {
  position: fixed !important;
}

/* Prose Plugin */
.prose {
  @apply sm:text-sm md:text-base md:leading-8;
}
.prose .viafoura ul,
.prose .viafoura ol > li {
  padding: 0;
  margin: 0;
}
.prose .viafoura ul > li::before,
.prose .viafoura ol > li::before {
  display: none;
}
.prose .viafoura img {
  margin: 0;
}
